@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Nunito+Sans:wght@300&display=swap');

/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Encode Sans', sans-serif; */

/* Selector universal */
*, *::after, *::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body {
    background-color: rgb(227, 238, 240);
    padding-bottom: 4rem;
}
/* Cabecera de la web */
.hd {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);
}
/* Barra de navegación */
.menu {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(247, 247, 247);
    padding-right: 10px;
    font-size: 17px;
}
.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 21px 10px;
    color: rgb(143, 143, 143);  
}
#inicio, .menu ul li a:hover {
    color: rgb(0, 0, 0);
}  
.form-menu {
    padding: 10px 10px;
}
#search {
    color:  rgb(143, 143, 143);
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid rgb(233, 234, 245);
    box-shadow: 1px 1px 1px rgb(233, 234, 245), -1px -1px 1px rgb(233, 234, 245);
    border-radius: 3px;
}
#search:focus {
    outline: none;
    box-shadow: 1px 1px 1px rgb(233, 234, 245), -1px -1px 1px rgb(233, 234, 245);
    
}
#sub {
    padding: 11px;
    font-size: 15px;
    font-weight: 300;
    margin-left: -4px;
    border: 1px rgba(6, 73, 82, 0.712) solid;
    color: rgba(6, 73, 82, 0.712);
    background-color: rgb(247, 250, 247);
    border-radius: 5px;
    font-weight: 540;
}
#sub:hover {
    background-color: rgb(23,113, 56);
    color: rgb(255, 255, 255);
    border: 1px rgb(255, 255, 255) solid;
}
/* Parte principal de la web */
.part-main {
    background-image: url(Background/Img2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    margin-bottom: 2rem;
}
.part-main div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 45px 10px;
    color: rgb(250, 249, 249);
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 180px;
}
.part-main h2  {
    margin-bottom: 11px;
    font-size: 40px;
}
#location {
    width: 35px;
    height: 37px;
    filter: brightness(1.2);
    margin-bottom: 10px;
}
figcaption {
    margin-bottom: 30px;
}
#cn {
    background-color: rgb(23,113, 56);
    padding: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#cn:hover {
    background-color: rgb(28, 54, 21);
}
/* Estilos a las partes de los id sec y foot */
.sec-foot {
    margin: 0rem 8rem;
    background-color: rgb(255, 255, 255);
    /* padding: 30px; */
    box-shadow: 0 8px 9px rgba(151, 148, 148, 0.7);
    border-radius: 8px;
}
/* Estilos a las partes de los lenguajes que son la combinación perfecta para el Desarrollo Web. */
.sec {
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
}
.ht {
    text-transform: capitalize;
    text-align: center;
    font-size: 39px;
    margin-bottom: 50px;
}
h3 {
    color: rgb(84, 184, 238);
    text-align: center;
    font-size: 30px;
}
.curse {
    max-width: 300px;
    display: grid;
    justify-items: center;
    margin: 0px 15px;
}
.leng {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.leng p {
    text-align: justify;
    font-family: arial;
}
.rd {
    width: 150px;
    height: 150px;
    border: rgb(84, 184, 238) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 100%;
    margin-bottom: 7px;
    margin-top: 5px;
}
.rd:hover {
    background-color: rgb(84, 184, 238);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 1px 1px 10px rgb(84, 184, 238), -1px -1px 10px rgb(84, 184, 238);
    /* cursor: pointer;  */
}
.rd:hover img {
    filter: invert();
    transform: scale(1.4);
}
.img {
    max-width: 50px;
}
/* Pie de página */
.foot {
    padding: 25px 70px 50px 45px;
    margin-bottom: 10px;
}
/* Información de contacto */
.foot form {
    position: relative;
}
#name, #email, #message {
    display: block;
    margin: 2px;
    width: 100%;
    color:  rgb(143, 143, 143);
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    border: 0px solid rgb(233, 234, 245);
    box-shadow: 1px 1px 2px rgb(233, 234, 245), -1px -1px 2px rgb(233, 234, 245);
    border-radius: 3px;
}
#send {
    background-color: rgb(8, 137, 206);
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    color: rgb(255, 255, 255);
}
#send:hover {
    background-color: rgb(255,255,255);
    /* outline: 1px solid rgb(8, 137, 206); */
    color: rgb(8, 137, 206);
    box-shadow: 1px 1px 4px rgba(8, 137, 206, 0.3), -1px -1px 4px rgba(8, 137, 206, 0.3);
    transform: translate(0px, 1px);
    position: relative;
}
#name:focus, #email:focus, #message:focus {
    outline: none;
    box-shadow: 1px 1px 3px rgb(84, 184, 238), 
    -1px -1px 3px rgb(84, 184, 238);
}
.foot p {
    margin-top: 30px;
    text-align: center;
}